

<!-- Botão -->
    <form action="/getMysql">
      <div id="corpo">
        <div class="form-row">
          <div class="col-md-2 offset-md-1" id="btn_submit">
            <button type="submit" class="btn btn-primary btn-block"><%= versao %></button>
          </div>
          <div class="col-md-2 offset-md-1" id="btn_data">
            <button type="button" onclick="fdata()" class="btn btn-success btn-block"><%= data %></button>
          </div>
          <div class="col-md-2 offset-md-1" id="btn_hora">
            <button type="button" onclick="fhora()" class="btn btn-warning btn-block"><%= hora %></button>
          </div>
        </div>
        <!-- Informações -->
        <br>
      
