
    <header>
      <!-- essa é uma classe de colunas -->
      <div class="form-row">
        <div class="col-md-2 offset-md-0" id="cab_esquerda">
          
          <figure>
            <img id="logoFatec" src="imagens/logoFatec.jpg" alt="Fatec">
          </figure>
        </div>

        <div class="col-md-8 offset-md-0" id="cab_centro">
          <p></p>
          <p>
            <h1 style='color:deeppink;'>
              <%=texto%>
            </h1>
          </p>         
        </div>

        <div class="col-md-2 offset-md-0" id="cab_direita">
          <figure>
            <img id="logoFatec" src="imagens/logoCPS.jpeg" alt="CPS">
          </figure>
        </div>
      </div>
    </header>
    
   