<div id='menu'>
  <nav class='menuPrincipal'>
    <ul>
      <li> <a href="#/login">Login</a></li>
      <li> <a href="/livros/listar">Livros</a></li>
      <li> <a href="#editoras/editorasMenu">Editoras</a></li>
      <li> <a href="/autores/listar">Autores</a></li>
      <li> <a href="#/usuarios/usuariosMenu">Usuários</a></li>
      <li> <a href="#/configuracoes/configuracoesMenu">Configurações</a></li>
    </ul>
  </nav>
</div>