header{
    text-align: center;
    margin: 10px;
}

.menuPrincipal ul li{
    display: inline;
    padding-left: 22px;
    text-align: center;
}
.menuPrincipal ul li a{
    color: blue;
}
.menuPrincipal ul li a:hover{
    color: red;
    font-size: 18px;
}

.menuPrincipal{
    font-size: 18px;
    padding-left: 5px;
    transition: 0.2s;
}

#menu{
    height: 30px;
    border: 1px solid black;
    margin: 5px;
}

footer{
    text-align: center;
    border: 1px solid black;
    margin: 5px;
}

#cab_esquerda, #cab_centro, #cab_direita{
    border: 1px solid black;
    height: 115px;
}
    

#logoFatec, #logoCPS{
    max-width:  150px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin: 5px;
}

#corpo{
    border: 2px solid darkblue;
    height: 420px;
    margin: 5px;
}

#btn_submit, #btn_data, #btn_hora{
    margin: 10px 1px 1px 30px;
}

#dados, #vrmysql, #data, #hora{
    border: 1px solid black;
    margin: 5px;
}
