  <!--  Inicio cabeçalho colunado-->
    <header>
      
      <div class="form-row">
        <div class="col-md-2" id="cab_esquerda">
          <figure>
            
            <img id="logoFatec" src="./imagens/LogoFatec.jpg" alt="Logo Fatec">
          </figure>
        </div>

        <div class="col-md-8" id="cab_centro">
          <p></p>
          <p> <h4 style="color: darkgreen;"> <%= titulo %> </h4></p>
          <p> <h6 style="color: black;"> <%= subtitulo %> </h6></p>
          <p> <h6 style="color: salmon;"> <%= mensagem %> </h6></p>

        </div>

        <div class="col-md-2" id="cab_direita">
          <figure>
            <img id="logoCPS" src="./imagens/LogoCPS.jpeg" alt="Logo CPS">
          </figure>
        </div>
      </div>
    </header>
  <!-- fim do cabeçalho colunado-->